
@{
    ViewData["Title"] = "Registration";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_SignInLayout.cshtml";
}

<div class="modal fade" id="registerModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content shadow">
            <div class="modal-header">
                <h5 class="modal-title"><i class="bi bi-person-plus-fill me-2"></i>Register</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row g-3">
                        <div class="col-md-4">
                            <label class="form-label">First Name</label>
                            <input type="text" class="form-control" required>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Middle Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Last Name</label>
                            <input type="text" class="form-control" required>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" required>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Contact</label>
                            <input type="text" class="form-control" required>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Date of Birth</label>
                            <input type="date" class="form-control" required>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Joining Date</label>
                            <input type="date" class="form-control" required>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Role</label>
                            <select class="form-select" required>
                                <option selected disabled>Choose Role</option>
                                <option>Admin</option>
                                <option>HR</option>
                                <option>Employee</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Department</label>
                            <select class="form-select" required>
                                <option selected disabled>Choose Department</option>
                                <option>Development</option>
                                <option>Sales</option>
                                <option>Marketing</option>
                            </select>
                        </div>

                        <div class="col-12 d-grid mt-3">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>

                        <div class="form-link mt-2">
                            <small>Already have an account? <a id="openLogin">Login here</a></small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

